<h1>New addition</h1>

<form action="/wizard_add">
  <label for="form_first_number">
    Add this:
  </label>
  <input id="form_first_number" name="first_number" text="text">

  <button>
    Add!
  </button>
</form>
