<h1>Division</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num %></dd>

  <dt>Second number</dt>
  <dd><%= @second_num %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/divide">Do another division</a>
