<h1>New division</h1>

<form action="/wizard_divide">
  <label for="form_first_number">
    Divide this:
  </label>
  <input id="form_first_number" name="first_number" text="text">

  <label for="to_second_number">
    by this:
  </label>
  <input id="to_second_number" name="second_number" text="text">

  <button>
    Divide!
  </button>
</form>
