<h1>New subtraction</h1>

<form action="/wizard_sub">
  <label for="form_first_number">
    Subtract this:
  </label>
  <input id="form_first_number" name="first_number" text="text">

  <label for="to_second_number">
    from this:
  </label>
  <input id="to_second_number" name="second_number" text="text">

  <button>
    Subtract!
  </button>
</form>
